# Visual Studio / .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# Logs & temp
*.log
startup_error.txt
crash.log

# Publish & installers
publish/
installer_output/
*.exe

# Android / Gradle
.gradle/
**/build/
*.apk
*.aab
local.properties
.idea/
*.iml
.cxx/
